# ==============================================
# Application Configuration
# ==============================================
BASE_URL=https://localhost
ENV=dev

# ==============================================
# Test Credentials (replace with real secrets in CI)
# ==============================================
APP_USERNAME=u1
APP_PASSWORD=111111Aa

# ==============================================
# Reporting (optional)
# ==============================================
# Set ALLURE_RESULTS=true to enable Allure report
ALLURE_RESULTS=false
